DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
AUTH_JWT_SECRET=your_jwt_secret
AUTH_PASSWORD_SECRET=your_password_secret
AUTH_COOKIE_SECRET=your_cookie_secret
AUTH_SESSION_TIMEOUT_SECONDS=720
SENHA_RESET_PADRAO=abcd@1234
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
