[Unit]
Description=Atualiza status de Vendas e Cobranças 
Wants=exemplo.timer

[Service]
Type=oneshot
WorkingDirectory=/home/ovidio-neto/Crediario/backend/services/
ExecStart=/home/ovidio-neto/Crediario/backend/services/update_status.sh

[Install]
WantedBy=multi-user.target