[Unit]
Description=Backup do banco de dados Crediario
Requires=crediario-backup.service

[Timer]
Unit=crediario-backup.service
OnCalendar=Mon..Sat *-*-* 08..18/2:00:00
AccuracySec=5m
Persistent=true
RandomizedDelaySec=8m

[Install]
WantedBy=timers.target