[Unit]
Description=Atualiza status de Vendas e Cobranças 
Wants=crediario.timer

[Service]
Type=oneshot
WorkingDirectory=/home/ovidio-neto/Crediario/backend/services
ExecStart=/usr/bin/bash /home/ovidio-neto/Crediario/backend/services/update_status.sh
StandardOutput=append:/home/ovidio-neto/Crediario/backend/services/vendas.log
StandardError=inherit

[Install]
WantedBy=multi-user.target