[Unit]
Description=Atualiza status de Vendas e Cobranças e distribuições
Requires=crediario.service

[Timer]
Unit=crediario.service
OnCalendar=Mon..Sat *-*-* 07..17:00:00
AccuracySec=5m
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
